---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Section from '../components/Section.astro';
import TitleSection from '../components/TitleSection.astro';
import CardProject from '../components/CardProject.astro';
import CardExperience from '../components/CardExperience.astro';
import BadgeSkill from '../components/BadgeSkill.astro';
import GitHubIcon from '../components/icons/GitHubIcon.astro';
import GmailIcon from '../components/icons/GmailIcon.astro';
import LinkedinIcon from '../components/icons/LinkedinIcon.astro';
---

<Layout title="My Portfolio Dev">
	<main>

		<!-- Sections Web Developer -->
		<section class="w-full lg:w-[740px] mx-auto py-44" id="home">
			<h1 class="text-4xl font-bold text-center">I am Rafael A. Ortega</h1>
			<h2 class="text-xl text-center opacity-80 py-3">
				Graduated in <span class="text-[#6effb7]">Software Engineering 👨🏽‍💻</span>.
				Web developer, with more than 4 years of experience
				in website development. <span class="text-[#6effb7]">Faithful PHP lover ❤️</span>.
				Located in Madrid, Spain.
			</h2>
			
			<div class="flex flex-wrap justify-center items-center gap-x-2 gap-y-2 py-3">
				<Button href='#projects'>View Projects</Button>
				<Button href='./assets/documents/cv.pdf' download="cv.pdf">Download CV</Button>
			</div>
		</section>	

		<!-- Sections Experience -->
		<Section id="experience">
			<TitleSection>Work Experience</TitleSection>
			<CardExperience 
				title="Web Developer - Danngos Smart" 
				subtitle="2022 - Present" 
				list={[
					"I am part of an amazing design and development team, working with them to help design and develop applications and websites for different clients of the company.",
					"The main tasks are done with WordPress, PHP, Java Script and CSS.",
				]}
			>
				<BadgeSkill skill="WordPress" />
				<BadgeSkill skill="Laravel" />
				<BadgeSkill skill="Astro" />
				<BadgeSkill skill="Tailwind" />
				<BadgeSkill skill="PHP" />
  				<BadgeSkill skill="JavaScript" />
  				<BadgeSkill skill="CSS" />
			</CardExperience>
			<CardExperience 
				title="Web Developer - Freelance" 
				subtitle="2021 - 2022" 
				list={[
					"Development and maintenance of various websites and web applications for different clients, achieving satisfactory results. ",
					"The main sites were created in Laravel and WordPress.",
				]}	
			> 
				<BadgeSkill skill="WordPress" />
				<BadgeSkill skill="Laravel" />
				<BadgeSkill skill="Boostrap" />
				<BadgeSkill skill="PHP" />
			  	<BadgeSkill skill="JavaScript" />
			  	<BadgeSkill skill="CSS" />
			</CardExperience>
			<CardExperience 
				title="Web Developer Intern - Ceifor" 
				subtitle="2020 - 2021"  
				list={[
					"I developed tasks for a timekeeping platform with Laravel 6, PHP, HTML, CSS3, MySQL and Boopstrap 3.",
				]}	
			>
				<BadgeSkill skill="Laravel" />
				<BadgeSkill skill="Boostrap" />
				<BadgeSkill skill="PHP" />
			  	<BadgeSkill skill="CSS" />
			  	<BadgeSkill skill="HTML" />
			</CardExperience>
			<CardExperience 
				title="CEO - TecnoObispo" 
				subtitle="2016 - 2020" 
				list={[
					"Co-founder and CEO of a small technology company in Havana, Cuba.",
					"We had an excellent professional service team, to provide any type of technological solution to our clients.", 
				]}		
			>
				<BadgeSkill skill="Liderazgo" />
			</CardExperience>	
		</Section>

		<!-- Sections Projects -->
		<Section id="projects">
			<TitleSection>Featured Projects</TitleSection>

			<div class="flex flex-col justify-center items-center lg:flex-row gap-y-8 lg:gap-x-8">
				<CardProject 
					src='/assets/images/puntualitos.webp'
					title="Puntualitos" 
					body="Puntualitos is a Laravel web application designed for efficient employee attendance." 
					href="https://puntualitos.wpcache.es/"
				/>
				<CardProject 
					src='/assets/images/notifications-dashboard.webp'
					title="Notifications" 
					body="Notifications is designed to notify users about password update statuses for their assigned projects." 
					href="https://password-notifications.wpcache.es/"
				/>
				<!-- <CardProject 
					src='/assets/images/pluginguard.webp'
					title="PluginGuard" 
					body="PluginGuard is a Laravel web application designed to manage plugins and their updates." 
					href="https://pluginguard.wpcache.es/"
				/> -->
				<CardProject 
					src='/assets/images/mini-crm.webp'
					title="Mini-CRM" 
					body="About This project is designed to manage companies and their employees through an admin panel." 
					href=" https://minicrm.wpcache.es/"
				/>
			</div>

			<div class="flex flex-col pt-8 justify-center items-center lg:flex-row gap-y-8 lg:gap-x-8">
				<CardProject 
					src='/assets/images/my-pomodoro.webp'
					title="My Pomodoro Dev"
					body="A personal and customizable Pomodoro timer designed to boost your productivity." 
					href="https://pomodoro.wpcache.es/"
				/>
				<CardProject 
					src='/assets/images/chabelydesigner.webp'
					title="Chabely Designer" 
					body="A modern and responsive personal portfolio website created using Astro." 
					href="https://chabelydesigner.wpcache.es/"
				/>
				<CardProject 
					src='/assets/images/next-films.webp'
					title="Films Marvel"
					body="A small project designed to connect with a simple API and retrieve countdown information." 
					href="https://nextfilmsmarvel.wpcache.es/"
				/>
			</div>
		</Section>

		<!-- Sections About -->
		<Section id="about">
			<TitleSection>About Me</TitleSection>
			<div class="flex flex-col justify-center items-center lg:flex-row gap-y-8 lg:gap-x-8">
				<img src="/assets/images/section-about.webp" alt="Rafael A. Ortega about me" class="sm:w-[25%] sm:h-[25%] w-[50%] h-[50%] rounded-full lg:my-0" />
				<span class="text-xl opacity-80 text-center sm:text-left md:text-left">	 
					With years of <span class="text-[#6effb7]">experience in web development</span>, I have mastered the skills to understand client 
					requirements in line with the latest trends. I have worked with companies from various niches, 
					so you can trust me with yours.
					<br><br>
					I have spent most of these years working in different areas, such as front-end development, 
					back-end development, <span class="text-[#6effb7]">WordPress site</span> development, and website support. Having worked on several 
					active projects, I can offer you the best <span class="text-[#6effb7]">suggestions and ideas</span> on how we can move forward. 
					I offer you a variety of options that we can work on together to create your ideal project.
				</p>
			</div>
		</Section>

		<!-- Sections Contact -->
		<Section id="contact">
			<TitleSection>Let's Connect</TitleSection>
			<div class="flex flex-wrap justify-center items-center gap-x-6 gap-y-2">
				<a href="https://github.com/raortega8906/"  target="_blank">
					<GitHubIcon />
				</a>

				<a href="https://www.linkedin.com/in/rafael-a-ortega/" target="_blank" class="mx-2">
					<LinkedinIcon />
				</a>

				<a href="mailto:raortega8906@gmail.com" class="mx-2">
					<GmailIcon />  
				</a>
			</div>
		</Section>
	</main>

</Layout>
