---
import Layout from '../layouts/Layout.astro';
import Button from '../components/Button.astro';
import Section from '../components/Section.astro';
import TitleSection from '../components/TitleSection.astro';
import Card from '../components/Card.astro';
---

<Layout title="My Portfolio Dev">
	<main>

		<!-- Sections Web Developer -->
		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-4xl font-bold text-center">Web Developer</h1>
			<h2 class="text-xl text-center opacity-80 py-3">
				I'm a web developer with a passion for creating innovative and user-friendly websites. 
				I have a strong background in HTML, CSS, and JavaScript, and I am proficient in using 
				frameworks such as React, Angular, and Vue.js. I am also familiar with various front-end 
				libraries and tools, including Bootstrap, Materialize, and Tailwind CSS.
			</h2>
			
			<div class="flex flex-wrap justify-center items-center gap-x-2 gap-y-2 py-3">
				<Button>View Projects</Button>
				<Button>Download CV</Button>
			</div>
		</section>	

		<!-- Sections About -->
		<Section id="about">
			<TitleSection>About Me</TitleSection>
		</Section>	

		<!-- Sections Experience -->
		<Section id="experience">
			<TitleSection>Work Experience</TitleSection>
		</Section>

		<!-- Sections Skills -->
		<Section id="skills">
			<TitleSection>Technical Skills</TitleSection>
		</Section>

		<!-- Sections Projects -->
		<Section id="projects">
			<TitleSection>Featured Projects</TitleSection>
		</Section>

		<!-- Sections Contact -->
		<Section id="contact">
			<TitleSection>Let's Connect</TitleSection>
		</Section>
	</main>
</Layout>
