<footer class="flex justify-center items-center pt-[10%] pb-5 px-4 w-full text-center">
    <p class="opacity-80 text-xs lg:text-base">
        Copyright © 2024 | Developed by Rafael A. Ortega
    </p>
</footer>

