---
import BadgetContactMe from './BadgetContactMe.astro';
---

<header class="flex flex-wrap justify-between items-center py-0 lg:py-5 px-4 w-full xl:w-[1120px] mx-auto sticky top-0 z-50 backdrop-blur-md">
    <img src="/assets/images/rafa.webp" alt="Rafael A. Ortega" class="w-14 h-14 rounded-full lg:my-0" />

    <nav class="flex flex-row flex-wrap gap-x-6 lg:gap-x-10 opacity-80 text-xs lg:text-base">
        <a href="#home" class="hover:text-[#6effb7]">Home</a>
        <a href="#experience" class="hover:text-[#6effb7]">Experience</a>
        <a href="#projects" class="hover:text-[#6effb7]">Projects</a>
        <a href="#about" class="hover:text-[#6effb7]">About</a>
    </nav>

    <BadgetContactMe>Contact Me</BadgetContactMe>
</header>
