---
import BadgetContactMe from './BadgetContactMe.astro';
---

<header class="flex flex-wrap justify-between items-center sm:pt-[10px] py-2 lg:py-5 sm:px-40 md:px-30 px-0 w-full xl:w-[100%] mx-auto sticky top-0 z-50 backdrop-blur-md">
    <img src="/assets/images/rafa-v3.webp" alt="Rafael A. Ortega" class="sm:w-14 sm:h-14 w-12 h-12 rounded-full lg:my-0" />

    <nav class="flex flex-row flex-wrap gap-x-6 lg:gap-x-10 opacity-80 text-[9px] sm:text-xs lg:text-base">
        <a href="#home" class="hover:text-[#6effb7]">Home</a>
        <a href="#experience" class="hover:text-[#6effb7]">Experience</a>
        <a href="#projects" class="hover:text-[#6effb7]">Projects</a>
        <a href="#about" class="hover:text-[#6effb7]">About</a>
    </nav>

    <BadgetContactMe>Contact Me</BadgetContactMe>
</header>
