---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="My portfolio website" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="./favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<div class="absolute bottom-0 left-[-20%] right-0 top-[-10%] h-[500px] sm:w-[500px] w-[0px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(138,43,226,.15),rgba(255,255,255,0))]"></div>
		<div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] sm:w-[500px]  w-[0px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(138,43,226,.15),rgba(255,255,255,0))]"></div>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}

	html {
		font-family: system-ui, sans-serif;
	}

	body {
		background:  #050505;
		color: #fff; 
		margin: 0.5rem;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow-x: hidden;
	}

	@keyframes led-move {
		0% { clip-path: inset(0 0 99% 0); }
		25% { clip-path: inset(0 0 0 99%); }
		50% { clip-path: inset(99% 0 0 0); }
		75% { clip-path: inset(0 99% 0 0); }
		100% { clip-path: inset(0 0 99% 0); }
	}

	#group {
		position: relative;
		overflow: visible; /* Permite que el LED se vea fuera del borde */
	}

	#group:hover::before {
		content: "";
		position: absolute;
		top: -3px;
		left: -3px;
		right: -3px;
		bottom: -3px;
		border-radius: inherit;
		border: 3px solid transparent;
		background: linear-gradient(90deg, #6effb7, #00d4ff, #6e40ff, #6effb7);
		mask: linear-gradient(white 0 0) padding-box, linear-gradient(white 0 0);
		mask-composite: exclude;
		z-index: 10; /* Asegura que el LED esté encima */
		animation: led-move 4s linear infinite;
	}

	/* Transition for sections */
	/* section {
		opacity: 1;
		transform: scale(1);
		transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	}

	section:hover {
		opacity: 0.9;
		transform: scale(1.05);
	} */

	/* Transition for sections */
	/* section {
		min-height: 100vh;
		position: -webkit-sticky;
		position: sticky;
		top: 0;
		z-index: 1; 
		transition: background-color 0.3s;
		background:  #050505;
	} */
</style>
